{% extends "base.html" %}

{% block title %}Select bot{% endblock %}

{% block content %}
    <!-- Contact List -->
    {% for bot in sorted_bot_list %}
        <ul class="contact-list">
            <li class="contact-item border rounded p-2 mb-2 hover:bg-gray-100">
                <form  action="{% url 'chatbot:create_chat'%}?bot={{ bot.id }}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="contact-link cursor-pointer flex items-center">
                        <div class="contact-avatar" style="width:60px;height:60px;">
                            <img src="{{ bot.img.url }}" alt="{{bot.title}}">
                        </div>
                        <div class="contact-details">
                            <h3 class="contact-name">{{ bot.title }}</h3>
                            <p class="contact-desc">{{ bot.detail}}</p>
                        </div>
                    </button>
                </form>
            </li>
        </ul>
    {% endfor %}    
{% endblock %}